header{
    background-color: #56D262;
}

.nav_icon{
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
}
.nav_icon i{
    font-size: 25px;
}

.nav_icon:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    cursor: pointer;
    transform: translateY(-1px);
    background-color: #F4C82B;
    color: #fff
}

.authentication{
    border: 1px solid #D9D9D9; 
    border-radius: 5px; 
    background-color: #fff; 
    height: 45px;
    width: 200px;
}

.authentication a{
    text-decoration: none;
}

.authentication:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    cursor: pointer;
    transform: translateY(-1px);
    background-color: #F4C82B;
}

.authentication a:hover{
    color: #fff;
}

header a, header a:visited{
    color: #000;
}

button.subheader:hover{
    background-color: #F4C82B !important;
    color: #000 !important;
}

button.subheader{
    width: 330px !important;
    height: 80px !important;
    background-color:#D9D9D9 !important;
    font-size: 30px !important;
    font-weight:bold !important;
}

input.recipe_search{
    height: 45px;
    border: 1px solid #bfa3a3; 
    border-radius:50px;
}

.search_box input[type=submit]{
    width: 100px;
}

.search_box input[type=submit]:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
    background-color: #F4C82B;
    color: #fff;
}

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown-profile {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-profile-content {
  display: none;
  position: absolute;
  top: 45px;
  width: 200px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-profile-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-profile-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-profile:hover .dropdown-profile-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-profile:hover .drop-icon {background-color: #3e8e41;}