.body_container--home {
    margin: auto;
    width: 1277px;
}

.page_title {
    position: relative;
    width: 1350px;
    display: flex;
}

.page_title h1 {
    height: 71px;
    width: 620px;
    text-decoration: underline;
    text-decoration-color: #56D262;
    color: #5F6440;
    margin-top: 27px
}

.body_product_search {
    position: absolute;
    right: 0px;
    margin-top: 21.440px;
    width: 700px;
    height: 54px;
}
.PageTitle_search_icon{
    display: block;
    position: absolute;
    right: 424px;
    padding-top: 9px;
    color: #4eb321;
}

.product_search {
    padding: 0px 0px 0px 55px;
    position: absolute;
    right: 110px;
    width: 360px;
    border-radius: 15px;
    border: 1px solid #56D262;
    height: 50px;
}

.product_search:focus {
    border: 3px solid #56D262;
}

.body_search_button {
    position: absolute;
    border-radius: 15px;
    width: 95px;
    height: 50px;
    right: 0px;
    color: #56D262;
    background-color: #fff;
    border: 1px solid #56D262;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
}

.body_search_button:hover {
    background-color: #56D262;
    color: #fff;
    border: 1px solid #56D262;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
}

.link_modify{
    text-decoration: none;
    color: #000 ;
}

.link_modify--Product{
  color:#56D262; 
}

.sidebar{
    background-color: #fff;
    border: 1px solid #56D262;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
    padding: 20px;
}

.collapsible,
.main-category{
  cursor: pointer;
  padding: 10px 40px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: #fff;
}

.main-category{
    padding-left: 20px;
    font-weight: bold;
}

.category{
    margin-top: 10px;
}

.active, .collapsible:hover {
  background-color: #D9D9D9;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #D9D9D9;
}

.content li{
    list-style-type: none;
    padding-left: 60px;
}

.content li:hover{
    background-color: #777;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product_card {
    position: relative;
    padding: 10px;
    width: 280px;
    height: 500px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #56D262;
}
.product_card_img{
    text-align: center;
}

.product_card_img img{
    width: 256px;
    height: 256px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.product_title {
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    overflow: hidden;
    height: 42px;
    text-overflow: ellipsis;
}

.product_body {
    padding: 12px 12px 12px 12px;
}
.product_body a{
    text-decoration: none !important;
}

.product_more {
    margin-top: 10px;
    display: flex;
}


.fa-star-sized {
    padding: 0 0px;
}

.checked {
    color: orange;
}



.product_author a {
    color: #56D262;
}
.price{
    font-size: 25px;
    color: #FFD700;
    
}
.product_text,
.product_author {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.product_author {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;   
}

.product_text-published {
    font-family: Roboto;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.Product_addToCart{
    width: 256px !important;
}
.addToCartButton {
    background-color: #fff;
    height: 50px;
    width: 135px;
    color: #56D262;
    fill: #56D262;
    border: 1px solid #56D262;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    overflow: hidden;
}

.addToCartButton iconify-icon {
    display: inline-block;
    margin-top: 3.5px;
}

.addToCartButton p {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
}

.addToCartButton:hover {
    background-color: #56D262;
    color: #fff;
    fill: #fff;
}
.order_quantity_holder{
    width: 80px;
    height: 50px; 
    text-align: center;
    margin-right: 20px;
}
