.add_product_page_title{
    font-size: 40px; 
    font-weight: bold; 
    word-spacing: 0.15em; 
    width: 550px; color: #5F6440; 
    border-bottom: 4px solid #56D262; 
    margin: 0 auto; 
    text-align: center;
}

.details_container{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.details input,
.details select{
    width: 300px;
    height: 45px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
}

.details_description textarea{
    padding: 10px; 
    width: 100%; 
    height: 150px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.last_button{
    width: 150px; 
    height: 50px !important; 
    background-color: buttonface;
    font-size: 24px;
    border: 1px solid #56D262 !important; 
    color: #56D262;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

.last_button:hover{
    cursor: pointer;
    background-color: #56D262; 
    color: #fff;
    border: 1px solid #D9D9D9;
}