.create_recipe_btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius:15px;
}
.recipe_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipe_card {
    padding: 10px;
    width: 280px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #56D262;
}
.recipe_card_img{
    text-align: center;
    width: 256px;
    height: 256px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.recipe_card_img img{
    width: 256px;
    height: 256px;
}

.recipe_title {
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    overflow: hidden;
}

.recipe_body {
    padding: 12px 12px 12px 12px;
}

.recipe_more {
    margin-top: 10px;
    display: flex;
}

.recipe-star {
    margin-left: 10px;
}

.fa-star-sized {
    padding: 0 0px;
}

.checked {
    color: orange;
}

.recipe_author {
    width: 100%;
}

.recipe_author a {
    color: #56D262;
}

.recipe_text,
.recipe_author {
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.recipe_text-published {
    font-family: Roboto;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}


