#confirm-delete-recipe-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 350px;
    height: 250px;
    padding: 20px;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    background-color: #56D262;
}

.popup-content{
    text-align: center;
    font-weight: bold;
}

.popupBtn{
    width: 100px;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    margin: 20px;
    height: 45px;
    transition: all ease 0.4s;
}

.popupBtn:hover{
    background-color: yellow;
    font-weight: bold;
}

#reject-recipe-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 400px;
    height: 600px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #56D262;
}

.reasons div{
    margin: 10px 0;
}


/*----------------------------*/

.add_shopping_list_button,
.recipe_comment_button{
    border: 1px solid #56D262;
    border-radius: 50px;
    background-color: #fff;
    color: #56D262;
    transition: all ease 0.4s;
}

.add_shopping_list_button:hover,
.recipe_comment_button:hover{
    border: 1px solid #D9D9D9;
    background-color: #56D262;
    color: #fff;
}

li.recipe_supply_item:nth-child(odd){
    background-color: #D9D9D9;
}
/* LIKE BUTTON -----------------------------*/

.button-like {
    border: 1px solid #8a8a8a;
    background-color: #fff;
    text-decoration: none;
    width: 150px;
    height: 50px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
}

.button-like span {
    margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
    transition: all ease 0.4s;
}

.button-like:focus {
    background-color: #fff;
}

.button-like:focus .fa,
.button-like:focus span {
    color: #8a8a8a;
}

.button-like:hover {
    border-color: #cc4b37;
    background-color: #fff;
}

.button-like:hover .fa,
.button-like:hover span {
    color: #cc4b37;
}

.liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
}

.liked .fa,
.liked span {
    color: #fefefe;
}

.liked:focus {
    background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
    color: #fefefe;
}

.liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
    color: #fefefe;
}

/*---------------------------------*/

.recipe_instruction{
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
}

/*Recipe Action (Hide,Edit,Delete ...)
/* The container <div> - needed to position the dropdown content */
.drop_icon {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_action_content {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 100px;
    background-color: #fff;
    color: #56D262;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 18px;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown_action_content a {
    color: black !important;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    display: block;
    border: 1px solid #D9D9D9;
    transition: all ease 0.4s;
}

/* Change color of dropdown links on hover */
.dropdown_action_content a:hover {
    background-color: #56D262;
    color: #fff !important;
}

/* Show the dropdown menu on hover */
.drop_icon:hover .dropdown_action_content {
    display: block;
}


.popup{
    display: none;
}