<?xml version="1.0" encoding="UTF-8"?>
<!--Note the new Jakarta EE schema
cf. https://stackoverflow.com/questions/4928271/how-to-install-jstl-the-absolute-uri-http-java-sun-com-jstl-core-cannot-be-r-->
<web-app metadata-complete="false" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <security-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.bakenow.core.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NullController</servlet-name>
        <servlet-class>com.bakenow.core.controller.NullController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NullController</servlet-name>
        <url-pattern>/NullController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
