<?xml version="1.0" encoding="UTF-8"?>
<!--Note the new Jakarta EE schema
cf. https://stackoverflow.com/questions/4928271/how-to-install-jstl-the-absolute-uri-http-java-sun-com-jstl-core-cannot-be-r-->
<web-app metadata-complete="false" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <security-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.bakenow.core.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.bakenow.core.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeController</servlet-name>
        <servlet-class>com.bakenow.core.controller.ViewRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentRecipeController</servlet-name>
        <servlet-class>com.bakenow.core.controller.CommentRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.bakenow.core.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopProfileController</servlet-name>
        <servlet-class>com.bakenow.core.controller.ViewShopProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductByCategoryController</servlet-name>
        <servlet-class>com.bakenow.core.controller.LoadProductByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderProductMarketPlaceController</servlet-name>
        <servlet-class>com.bakenow.core.controller.RenderProductMarketPlaceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeController</servlet-name>
        <url-pattern>/ViewRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopProfileController</servlet-name>
        <url-pattern>/ViewShopProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductByCategoryController</servlet-name>
        <url-pattern>/LoadProductByCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderProductMarketPlaceController</servlet-name>
        <url-pattern>/RenderProductMarketPlaceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
